 {% load static %}
 <!-- Contact Start -->
    <section class="cta p__tb py-5">
      <div
        class="container wow fadeInUp animated"
        data-wow-duration="1s"
        style="
          visibility: visible;
          -webkit-animation-duration: 1s;
          -moz-animation-duration: 1s;
          animation-duration: 1s;
        "
      >
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <div class="cta__wrap mb-2 mb-md-0">
              <h2 class="heading text-primary">
                Let’s connect and
                <span class="text-warning">bring your ideas to life.</span>
              </h2>
              <div class="sub-heading">
                Our team is available from 9:00 AM to 6:00 PM, Monday through
                Friday.
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="cta__wrap--one text-center">
              <h6 class="mb-0">Reach out now!</h6>
              <p class="call-us mb-0">
                <a href="tel:9768382318">+977 976-8382318</a>
              </p>
              <div class="mt-2">
                <a
                  href="https://wa.me/9779768382318"
                  target="_blank"
                  class="btn py-2 carousel-content-btn1 btn-warning"
                  ><span>Let's start conversation</span></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact End -->
    <!-- Footer Start -->
    <div
      class="container-fluid footer bg-primary wow fadeIn"
      data-wow-delay=".3s"
      id="footer"
    >
      <div class="container pt-5">
        <div class="row g-5">
          <div class="col-lg-3 col-md-6">
            <a href="{% url 'home' %}">
              <h2 class="text-white fw-bold d-block">
                StartUp<span class="text-warning">Ghar</span>
              </h2>
            </a>
            <p class="mt-3 text-light">
              “StartupGhar empowers startups with innovative software solutions
              and digital technology to help your ideas grow.”
            </p>
            <div class="d-flex hightech-link">
              <a
                href=""
                class="btn-light nav-fill btn btn-square rounded-circle me-2"
                ><i class="fab fa-facebook-f text-primary"></i
              ></a>
              <a
                href=""
                class="btn-light nav-fill btn btn-square rounded-circle me-2"
                ><i class="fab fa-twitter text-primary"></i
              ></a>
              <a
                href=""
                class="btn-light nav-fill btn btn-square rounded-circle me-2"
                ><i class="fab fa-instagram text-primary"></i
              ></a>
              <a
                href=""
                class="btn-light nav-fill btn btn-square rounded-circle me-0"
                ><i class="fab fa-linkedin-in text-primary"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-6">
            <a href="#" class="h5 text-warning">Short Link</a>
            <div class="mt-2 d-flex flex-column short-link">
              <a href="{% url 'home' %}#aboutus" class="mb-2 text-white"
                ><i class="fas fa-angle-right text-warning me-2"></i>About us</a
              >
              <a href="{% url 'home' %}#footer" class="mb-2 text-white"
                ><i class="fas fa-angle-right text-warning me-2"></i>Contact
                us</a
              >
              <a href="{% url 'home' %}#services" class="mb-2 text-white"
                ><i class="fas fa-angle-right text-warning me-2"></i>Our
                Services</a
              >
              <a href="{% url 'home' %}#projects" class="mb-2 text-white"
                ><i class="fas fa-angle-right text-warning me-2"></i>Our
                Projects</a
              >
              <a href="{% url 'privacy_policy' %}" class="mb-2 text-white"
                ><i class="fas fa-angle-right text-warning me-2"></i>Privacy &
                Policy</a
              >
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <a href="#" class="h5 text-warning">Contact Us</a>
            <div class="text-white mt-2 d-flex flex-column contact-link">
              <a href="#" class="pb-2 text-light"
                ><i class="fas fa-map-marker-alt text-warning me-2"></i> Imadol, Lalitpur, Nepal</a
              >
              <a href="#" class="py-2 text-light"
                ><i class="fas fa-phone-alt text-warning me-2"></i>
                +977 976-8382318</a
              >
              <a href="#" class="py-2 text-light"
                ><i class="fas fa-envelope text-warning me-2"></i>
                admin@startupghar.com</a
              >
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-0 m-0">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.424222021909!2d85.35129097550833!3d27.673280476202237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb190044e70a39%3A0xc10078023fbd7a49!2sRozzeco!5e0!3m2!1sen!2snp!4v1768659489031!5m2!1sen!2snp"
              height="250"
              width="100%"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
        <hr class="text-light mt-3 mb-2" />
        <div class="row py-2">
          <div
            class="col-md-12 d-flex flex-md-row gap-2 flex-column justify-content-between align-items-center"
          >
            <span class="text-light"
              ><a href="#" class="text-warning"
                ><i class="fas fa-copyright text-warning"></i>
                <span id="year"
                  ><script>
                    year.innerText = new Date().getFullYear();
                  </script></span
                ><span class="text-light"> StartUp</span>Ghar</a
              >, All right reserved.</span
            >
            <span class="text-white">
              Developed By :-&nbsp;<a
                href="https://dharmendraram.com.np/"
                target="_blank"
                class="text-warning"
                >Dharmendra Kumar Ram</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->

